:root {
	--white: #ffffff;
	--black: #000000;
	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	--takuya: rgb(236, 242, 254);
	--hometuls:  linear-gradient(45deg, #E9765B 0%, #FFC06A 100%);
}
